* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-init {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.container-location {
    display: flex;
}
    @media(max-width:768px){
        .container-location {
            display: flex;
            margin-left: 40px;
        }
    }   
    @media(max-width:425px){
        .container-location {
            display: flex;
            margin-left: 40px;
        }
    }
.img-location {
    width: 20px;
    margin-left: 40px;
}
    @media(max-width:425px){
        .img-location {
            width: 30px;
        }
    }
.location {
    font-family: 'Rosario', sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 5px;
}
    @media (max-width:768px) {
        .location {
            width: 200px;
        }
    }
    @media(max-width:425px){
        .location {
            font-size: 32px;
        }
    }
.container-title {
    display: flex;
}
.first-title {
    font-family: 'Rouge Script', cursive;
    font-size: 64px;
    line-height: 40px;
    margin: 0px 25px 0px 0px;
} 
    @media (max-width:768px) {
        .first-title {
            margin: 0px 25px 0px 150px;
        }
    }
    @media(max-width:425px){
        .first-title {
            font-size: 74px;
        }
    }
.img-title {
    width: 5rem;
    margin: -30px 5px 0px -13px;
}
.second-title {
    font-family: 'Rouge Script', cursive;
    font-size: 64px;
    line-height: 40px;
    margin: 0px 0px 0px 10px;
}
    @media(max-width:425px){
        .second-title {
            font-size: 74px;
        }
    }
.button-init {
    background-color: transparent;
    border-color: #FF6666;
    border-width: 1px;
    padding: 8px;
    margin: 5px 80px 0px 0px;
    font-family: 'Rosario', sans-serif;
    height: 35px;
    width: 130px;
}
    @media (max-width:768px) {
        .button-init {
            margin: 5px 120px 0px 170px;
            font-size: 15px;
        }
    }
    @media(max-width:425px){
        .button-init { 
            padding: 0px;
            width: 200px;
            font-size: 28px;
            height: 45px;
            margin-top: -4px;
        }
    }
.division-container-header {
    border: 1px dashed #F2F2F2;
    margin-top: 20px;
}
    @media (max-width:768px) {
        .division-container-header {
            border: 2px dashed #F2F2F2;
            width: 1191px;
        }
    }
    @media (max-width:425px) {
        .division-container-header {
            border: 3px dashed #F2F2F2;
            width: 1300px;
        }
    }
#menu-hamburguer {
    padding: 5px;
    background-color: transparent;
    color: #FF6666;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    display: none;
}
    @media (max-width:425px) {
#menu-hamburguer {
            display: block;
            margin-left: 1072px;
            margin-top: 20px;
        }
    }
.link-menu {
    display: none;
}
    @media (max-width:425px) {
        .link-menu {
            display: block;
            text-decoration: none;
        }
    }
.container-menu {
    display: flex;
    justify-content: space-between;
}
    @media (max-width:768px) {
        .container-menu {
            width: 1191px;
        }
    }
.list-menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 700px;
    margin-top: 25px;
    margin-left: 1rem;
} 
    @media (max-width:768px) {
        .list-menu {
            font-size: 18px;
            margin-left: 4rem;
        }
    }
    @media (max-width:425px) {
        .list-menu {
            display: none;
        }
    }

.link-item-list {
    text-decoration: none;
    color: black;
}
.item-list:hover {
    color:#FF6666;
    margin-left: 2rem;
    font-family: 'Rosario', sans-serif;
}
.container-search {
    display: flex;
}
.img-lupa {
    width: 30px;
    margin: 21px 15px 0px 0px;
}
    @media(max-width:425px){
        .img-lupa {
            width: 60px;
            position: absolute;
            top: 140px;
            left: 75px;
        }
    } 

.button-search {
    background-color: transparent;
    border-color: #FF6666;
    border-width: 1px;
    padding: 3px;
    height: 25px;
    width: 130px;
    margin: 21px -80px 0px 0px;
}
    @media (max-width:768px) {
        .button-search {
            margin: 21px 113px 0px 0px;
            height: 30px;
            font-size: 18px;
            font-style: normal;
        }
    }       
    @media(max-width:425px){
        .button-search {
            height: 40px;
            width: 300px;
            position: absolute;
            top: 154px;
            left: 176px;
            font-size: 32px;
            padding: 5px;
         }
     } 
.img-container-description {
    width: 100%;
    margin-top: 20px;
}
    @media (max-width:768px) {
        .img-container-description{
            width: 1191px;
            height: 400px;
        }    
    }
    @media(max-width:425px){
        .img-container-description {
            width: 1300px;
            height: 600px;
         }
     } 
.title-main {
    font-family: 'Rouge Script', cursive;
    color: #FF6666;
    font-size: 52px;
    margin-top: -280px;
    margin-left: 170px;
}
    @media (max-width:768px) {
        .title-main {
            margin-top: -350px;
            font-size: 66px;
        }
    }
    @media(max-width:425px){
        .title-main {
            font-size: 120px;
            margin-top: -546px;
            margin-left: 100px;
         }
     } 
.subtitle-main {
    font-family: 'Rosario', sans-serif;
    font-weight: bold;
    margin-left: 170px;
}
    @media (max-width:768px) {
        .subtitle-main {
            font-size: 18px;
            margin-left: 100px;
        }
    }
    @media(max-width:425px){
        .subtitle-main {
            font-size: 30px;
            line-height: 41px;
            margin-left: 100px;
         }
     } 
.description {
    font-family: 'Rosario', sans-serif;
    color: #716969;
    width: 417px;
    line-height: 22px;
    margin-left: 170px;
    margin-top: 10px;
}   
    @media (max-width:768px) {
        .description {
            font-size: 20px;
            width: 520px;
        }
    }
    @media(max-width:425px){
        .description {
            font-size: 40px;
            line-height: 41px;
            width: 700px;
            margin-left: 100px;
         }
     } 
.button-description {
    background-color:  #FF6666;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    font-family:  'Rosario', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-left: 170px;
    margin-top: 20px;
}
    @media (max-width:768px) {
        .button-description {
            padding: 15px;
            font-size: 18px;
        }
    }
    @media(max-width:425px){
        .button-description {
           padding: 25px;
           width: 200px;
           margin-left: 100px;
           font-size: 26px;
         }
     } 
.cakes-description-container-init {
    margin-left: 900px;
    margin-top: -220px;
}
    @media (max-width:768px){
        .cakes-description-container-init {
            margin-left: 870px;
            margin-top: -200px;
        }
    }
    @media(max-width:425px){
        .cakes-description-container-init {
           width: 422px;
           margin-top: -323px;
           margin-left: 850px;
         }
     } 
.container-description-cakes {
    background-color: white;
    width: 714px;
    height: 370px;
    position: absolute;
    top: 457px;
    left: 302px;
}
    @media (max-width:768px){
        .container-description-cakes {
            top: 500px;
            left: 290px;
        }
    }
    @media(max-width:425px){
        .container-description-cakes {
           top: 750px;
           left: 240px;
           width: 850px;
            height: 400px;
         }
     } 
.cupcakes-container {
    width: 660px;
    margin-top: 20px;
    margin-left: 27px;
}
    @media(max-width:425px){
        .cupcakes-container {
            width: 793px;
            height: 450px;
            margin-top: 20px;    
        }
    } 
.container-text-cakes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -270px;
}
.title-cakes {
    font-family: 'Rouge Script', cursive;
    color: #FF6666;
    font-size: 62px; 
    margin-left: 30px;
}
    @media (max-width:768px){
        .title-cakes {
            font-size: 66px;
        }
    }
    @media(max-width:425px){
        .title-cakes {
            font-size: 100px;
            margin-top: -124px;
        }
    } 
.description-cakes {
    font-family: 'Rosario', sans-serif;
    font-weight: bold;
    margin-left: 170px;
    font-size: 18px; 
    width: 577px;  
    margin-left: 10px;
    margin-top: 40px;
}
    @media (max-width:768px){
        .description-cakes {
            font-size: 22px;
            width: 600px;
        }
    }
    @media(max-width:425px){
        .description-cakes {
            font-size: 42px;
            width: 700px;
            text-align: center;
            margin-top: 10px;
        }
    } 
.title-offer {
    font-family: 'Rosario', sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-top: 400px;
}
    @media (max-width:768px){
        .title-offer{
            font-size: 52px;
            text-align: center;
            margin-left: 25rem;
            width: 471px;
        }
    }
    @media(max-width:425px){
        .title-offer {
            font-size: 82px;
            text-align: center;
            margin-left: 21rem;
            margin-top: 41rem;
            width: 700px;
        }
    } 
.set-containers-offer {
    display: flex;
    justify-content: space-evenly;
}   
    @media (max-width:768px){
        .set-containers-offer {
            width: 1191px;
        }
    }
    @media(max-width:425px){
        .set-containers-offer {
           display: flex;
           flex-wrap: wrap;
           margin-left: 6rem;
           margin-top: 10rem;
        }
    } 
.container-offer {
    width: 300px;
    height: 480px;
    background-color: #F2F2F2;
    margin-top: 70px;
}
    @media(max-width:425px){
        .container-offer {
            height: 950px;
            width: 600px;
            margin-top: 7rem;
        }
    } 
.img-container-offer {
    width: 300px;
}
    @media(max-width:425px){
        .img-container-offer {
            width: 600px;
        }
    } 
.title-container-offer {
    font-family: 'Rosario', sans-serif;
    font-size: 26px;
    text-align: center;
    margin-top: 22px;
}
    @media(max-width:425px){
        .title-container-offer {
            font-size: 42px;
        }
    } 
.description-container-offer {
    font-family: 'Rosario', sans-serif;
    font-size: 14px;
    width: 275px;
    text-align: center;
    margin-top: 40px;
    margin-left: 15px;
}
    @media (max-width:768px){
        .description-container-offer {
            font-size: 18px;
            margin-top: 20px;
            line-height: 24px;
        }
    }
    @media(max-width:425px){
        .description-container-offer {
            font-size: 36px;
            line-height: 50px;
            width: 500px;
            margin-left: 42px;
            margin-top: 50px;
        }
    } 
.title-new-products {
    font-family: 'Rosario', sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-top: 130px;   
}
    @media (max-width:768px){
        .title-new-products {
            font-size: 52px;
            text-align: center;
            margin-left: 25rem;
            width: 471px;
        }
    }
    @media(max-width:425px){
        .title-new-products {
            font-size: 82px;
            text-align: center;
            margin-left: 21rem;
            margin-top: 21rem;
            width: 700px;
        }
    } 
.set-container-new {
    display: flex;
    justify-content: space-evenly;   
}
    @media (max-width:768px){
        .set-container-new {
            width: 1191px;
        }
    }
    @media(max-width:425px){
        .set-container-new {
           display: flex;
           flex-wrap: wrap;
           margin-left: 6rem;
           margin-top: 10rem;
        }
    } 
.img-container-new {
    width: 305px;  
    margin-top: 110px;
}
    @media(max-width:425px){
        .img-container-new {
            width: 600px;
        }
    } 
.img-container-new-1 {
    width: 308px;  
    margin-top: 110px;
} 
    @media(max-width:425px){
        .img-container-new-1 {
            width: 603px;
        }
    } 
.container-new {
    width: 297px;
    height: 60px;
    background-color: #F2F2F2;
    margin: -9px 0px 200px 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
    @media(max-width:425px){
        .container-new {
            height: 100px;
            width: 590px;
        }
    } 
.container-new-1 {
    width: 297px;
    height: 60px;
    background-color:  #F2F2F2;
    margin: -10px 0px 200px 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
    @media(max-width:425px){
        .container-new-1 {
            height: 100px;
            width: 593px;
        }
    }
.title-container-new {
    font-family: 'Rosario', sans-serif;
    font-size: 26px;
    text-align: center;
    margin-top: -245px;
}
    @media (max-width:768px){
        .title-container-new {
            font-size: 28px;
        }
    }
    @media(max-width:425px){
        .title-container-new {
            font-size: 52px;
            margin-top: -285px;
        }
    } 
.link-set-menu {
    text-decoration: none;
    color: black;
}